/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

div.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    
}

div.container p {
    margin: 2rem 0;
}

li{
    margin: 10px 0;
}

.inner-list{
    list-style-type: lower-alpha;
}